/* LIST OF COLORS USED IN THE APP */
:root {
    --l_background: #f3f3f3;
    --d_background: #282828;
    --l_login: #F6F6F6;
    --l_text_login: #969696;
    --d_login: #505050;
    --d_text_login: #C3C3C3;
    --l_frame_login: #99C8F2;
    --d_frame_login: #99C8F2;
    --l_switch: #EFEFEF;
    --d_switch: #69CB3A;
    --button: #99C8F2;
    --h_button: #61b2fa;
    --button_text: #505050;
    --h_button_text: #000000;
    --l_text_mode: #505050;
    --d_text_mode: #EBEBEB;

    --white: #ffffff;
    --lightgray: #eeeeee;
    --light: #c2c2c2;
    --gray: #767575;
    --gray-dark: #434242;
    --dark: #282828;
    --black: #000000
}

body.light-mode {
    --background-color: var(--l_background);
    --login: var(--l_login);
    --text_login: var(--l_text_login);
    --switch: var(--l_switch);
    --text_mode: var(--l_text_mode);
    --frame_login: var(--l_frame_login);
    --invert_image: invert(0%);
    --red: #EB5757;
    --error-wallpaper: #FCD9D9;
}

body.dark-mode {
    --background-color: var(--d_background);
    --login: var(--d_login);
    --text_login: var(--d_text_login);
    --switch: var(--d_switch);
    --text_mode: var(--d_text_mode);
    --frame_login: var(--d_frame_login);
    --invert_image: invert(100%);
    --red: #B00020;
    --error-wallpaper: #EB9E9E;
}
